<div class="container">
  <!-- Alerte si vide -->
  <div *ngIf="showEmptySearchWarning" class="alert alert-warning" role="alert">
    Veuillez remplir au moins un champ pour effectuer une recherche.
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-bar">
    <input type="text" formControlName="titre" placeholder="Rechercher par mot-clé..." class="search-input" />

    <div class="filter">
      <label for="date_debut">Date début:</label>
      <input type="date" formControlName="date_debut" id="date_debut" />
    </div>

    <div class="filter">
      <label for="date_fin">Date fin:</label>
      <input type="date" formControlName="date_fin" id="date_fin" />
    </div>

    <div class="filter">
      <label for="categorie">Catégorie:</label>
      <select id="categorie" formControlName="categorie_id" (change)="onCategoryChange($event)">
        <option value="">Toutes</option>
        <option *ngFor="let c of categories" [value]="c.id">{{ c.type }}</option>
      </select>
    </div>

    <div class="filter">
      <label for="sous_categorie">Sous-catégorie:</label>
      <select id="sous_categorie" formControlName="sous_categorie_id">
        <option value="">Toutes</option>
        <option *ngFor="let sc of sousCategories" [value]="sc.id">{{ sc.sous_categorie }}</option>
      </select>
    </div>

    <button type="submit" class="search-button">Rechercher</button>
  </form>
</div>
