<div class="event-container">
    <!-- Événement 1 -->
    <div class="event-card">
      <div class="event-header">19/02/2024</div>
      <img src="../../assets/image/sEVEN SKIES (1).png" alt="Photo de l'événement 1">
      <div class="event-info">
        <p class="event-time">Temps : 14:00 - 18:00</p>
        <h2 class="event-title">Concert Rock</h2>
        <p class="event-price">Prix : 20€</p>
        <p class="event-location">Lieu : Salle des Fêtes, Paris</p>
        <p class="event-description">Un concert rock avec des artistes internationaux.</p>
        <p class="event-status">État : Disponible</p>
        <p class="event-availability">Nombre de places disponibles : 50</p>
        <div class="event-buttons">
          <a href="https://maps.google.com" target="_blank" class="event-button">Voir sur la carte</a>
          <button class="event-button">En savoir plus</button>
        </div>
      </div>
    </div>
  
    <!-- Événement 2 -->
    <div class="event-card">
      <div class="event-header">20/02/2024</div>
      <img src="../../assets/image/sEVEN SKIES (1).png" alt="Photo de l'événement 2">
      <div class="event-info">
        <p class="event-time">Temps : 10:00 - 12:00</p>
        <h2 class="event-title">Conférence Tech</h2>
        <p class="event-price">Prix : 30€</p>
        <p class="event-location">Lieu : Centre des Congrès, Lyon</p>
        <p class="event-description">Une conférence sur les dernières innovations technologiques.</p>
        <p class="event-status">État : Complet</p>
        <p class="event-availability">Nombre de places disponibles : 0</p>
        <div class="event-buttons">
          <a href="https://maps.google.com" target="_blank" class="event-button">Voir sur la carte</a>
          <button class="event-button">En savoir plus</button>
        </div>
      </div>
    </div>
    <!-- Événement 3 -->
    <div class="event-card">
        <div class="event-header">20/02/2024</div>
        <img src="../../assets/image/sEVEN SKIES (1).png" alt="Photo de l'événement 2">
        <div class="event-info">
          <p class="event-time">Temps : 10:00 - 12:00</p>
          <h2 class="event-title">Conférence Tech</h2>
          <p class="event-price">Prix : 30€</p>
          <p class="event-location">Lieu : Centre des Congrès, Lyon</p>
          <p class="event-description">Une conférence sur les dernières innovations technologiques.</p>
          <p class="event-status">État : Complet</p>
          <p class="event-availability">Nombre de places disponibles : 0</p>
          <div class="event-buttons">
            <a href="https://maps.google.com" target="_blank" class="event-button">Voir sur la carte</a>
            <button class="event-button">En savoir plus</button>
          </div>
        </div>
      </div>
  </div>