<div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Boucle sur les événements pour afficher les slides -->
      <div class="swiper-slide">
        <img src="" alt="">
        <div class="slide-content">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- Boutons de navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>