<nav class="navbar" [class.sidebar-open]="isSidebarOpen">
  <div class="container">
    <!-- Conteneur du logo + icône menu + nom -->
    <div class="logo-container">
      <!-- Icône menu visible seulement si connecté -->
      <ng-container *ngIf="isLoggedIn">
        <i class="fas fa-bars menu-icon" (click)="toggleSidebar()"></i>
      </ng-container>

      <img src="../../assets/image/logo-dark.png" alt="Logo">
      <a href="/" class="logo">Planova</a>
    </div>

    <!-- Icônes utilisateur -->
    <div *ngIf="isLoggedIn" class="user-actions">
      <a routerLink="/notification" class="notification-icon">
        <i class="fas fa-bell"></i>
        <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>
      </a>
      <a routerLink="/profile" class="icon-profile">
        <i class="fas fa-user"></i>
      </a>
    </div>

    <!-- Liens de navigation si NON connecté -->
    <ul *ngIf="!isLoggedIn" class="nav-links">
      <li><a href="/" class="nav-link"><i class="fas fa-home"></i> Accueil</a></li>
      <li><a href="" class="nav-link"><i class="fas fa-fire"></i> Nouveautés</a></li>
      <li><a href="" class="nav-link"><i class="fas fa-tags"></i> Promotions</a></li>
      <li><a href="" class="nav-link"><i class="fas fa-calendar-alt"></i> Événements</a></li>
      <li><a href="" class="nav-link"><i class="fas fa-plus-circle"></i> Créer événement</a></li>
      <li><a href="" class="nav-link"><i class="fas fa-envelope"></i> Contact</a></li>
      <ng-container>
        <li><a routerLink="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
        <li><a routerLink="/register" class="nav-link sign-up"><i class="fas fa-user-plus"></i> S'inscrire</a></li>
      </ng-container>
    </ul>
  </div>
</nav>

<app-sidebar *ngIf="isSidebarOpen" [isOpen]="isSidebarOpen"></app-sidebar>